/* Full CSS code for all pages */

body
{
	background:#000000;
}
/* Styling for ID's */
#wrapper
{
	background:#ffffff;
	width:80%;
	margin:0 auto;
}
#menu ul li
{
	float:left;
	margin:2% 6%;
	font-size:24px;
	list-style-type:none;
}
#menu ul li a
{
	color:green;
	text-decoration:none;
}
#content
{
	clear:both;
	text-align:center;
	padding:4% 0 18% 0;
}
#main
{
	width:65%;
}
#menu-right
{
	width:30%;
	padding-bottom:7%;
	background-color:#D7FADB;
	border-radius:15%;
}
/* Styling for Classes */
.left
{
	float:left;
}
